body {
 background-color: rgb(213, 225, 239);
}

.qr {
    
    max-width: 290px;
    max-height: 290px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

.qr-code {
    display: inline-block;
    width: 320px;
    height: 500px;
    margin: 50% ;
    background-color: white;
}

.font {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    font-weight: 400, 700;
    color: rgb(55, 67, 93);
    margin-top: auto;
    margin-bottom: auto;
}

.sub-font {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font-size: 17px;
    font-weight: 400, 700;
    color: rgb(164, 164, 172);
   
    
}
